
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Palette+Mosaic&family=Quicksand:wght@500&display=swap');

    
    body{
        background-color: black;
        color:rgb(223, 15, 15);
        font-family: 'Oswald', sans-serif;
        font-family: 'Palette Mosaic', cursive;
        font-family: 'Quicksand', sans-serif;
        font-size: x-large;
        align-items: center;
    }
    header{
        display: flex;
        background-color: red;
        border: 3px solid red;
        
        justify-content: space-between;
        

        
    }
    
    #div.bl{
        display: inline-block;
        width: 100%;
        

    }
    nav{
        
        text-align: right;
    }
    header img{
        width: 38px;
    }
	form{
	margin:5vh 20vw 5vh;
	width: 60vw;
	min-height: 40vh;
	border:2px solid black;
	border-radius:22px;
	text-align:center;
	font-size:1em;
	}
	produto{
	margin:0px 5vw 0px;
	width: 90vw;
	min-height:50vh;
    
	}
	#produto.placa{
        border:2px dashed rgb(255, 0, 0);
	background-color:rgb(0, 0, 0);
    color: red;
    text-align: center;
	}
	#produto.memoria{
	border:2px inset rgb(255, 0, 0);
	background-color:rgb(0, 0, 0);
	color: red;
    text-align: center;
	}
	#produto.ssd{   
	border:2px dashed rgb(58, 2, 2);
	color: red;
    text-align: center;
    text-shadow: 
               -1px -1px 0px rgb(17, 14, 14), 
               -1px 1px 0px rgb(0, 0, 0),                    
                1px -1px 0px rgb(0, 0, 0),                  
                1px 0px 0px rgb(0, 0, 0);
	}
	#produto.teclado{
	border:2px ridge rgb(255, 3, 3);
	
	color: red;
    text-align: center;
    text-shadow: 
               -1px -1px 0px rgb(17, 14, 14), 
               -1px 1px 0px rgb(0, 0, 0),                    
                1px -1px 0px rgb(0, 0, 0),                  
                1px 0px 0px rgb(0, 0, 0);
	}
	#produto.monitor{
    text-align: center;
	border:2px dotted rgb(255, 0, 0);
	background-color:black;
	color:rgb(255, 0, 0);
	}
	#produto img{
    align-items: center;
	width:30vw;
	height:60vh;
	margin-left:0%;
	}	
    .buttonClass {
        font-size:15px;
        font-family: 'Palette Mosaic', cursive;
        font-family: 'Shadows Into Light', cursive;
        width:140px;
        height:50px;
        border-width:1px;
        color:rgb(223, 15, 15);
        border-color:rgb(0, 0, 0);
        font-weight:bold;
        
        border-top-left-radius:28px;
        border-top-right-radius:28px;
        border-bottom-left-radius:28px;
        border-bottom-right-radius:28px;
        text-shadow: 1px 1px 0px rgba(4, 6, 7, 1);
        background:linear-gradient(rgb(0, 0, 0), rgba(23, 15, 24, 1));
      }
      
      .buttonClass:hover {
        border-color:rgb(243, 13, 13);
        color: rgb(0, 0, 0);
        text-shadow: 1px 1px 0px rgb(223, 15, 15);
        background: 
        linear-gradient(rgba(23, 15, 24, 1), rgb(207, 23, 23));
        box-shadow: 0 0 5px  rgb(223, 15, 15), 0 0 25px  rgb(223, 15, 15), 0 0 50px rgb(223, 15, 15), 0 0 100px  rgb(223, 15, 15);
        transition-duration:0.5s;
    }
    a{
        color: black;
        
        margin-right: 30px;
        border-color: black;
        border: 18px;
        text-shadow:2px 2px 2px black;
        
    }
     
